# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# editor
.vscode

# dependencies
.pnp
.pnp.js
.DS_Store
.idea
.pnpm-store
node_modules
packages/*/lib
models/*/lib
memory/*/lib

# testing
coverage

# production
build
dist
dist-ssr
.blocklet
.oauth

# local env files
*.local

# Log files
logs
*.log
*.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

*.tsbuildinfo
**/public/*.es.mjs
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache

.blocklet-server/
.blocklet-tests/
.playwright/

*storybook.log
.data
.cursor

# ignore files in the docs folder
/docs/_sidebar.md
/docs/api
/docs/_media
/docs/README.md
/docs/LICENSE
/docs/CONTRIBUTING.md
/docs/RELEASING.md
**/*/model-prices.json
